<html>

	<head>
	    <meta charset="utf-8">
	    <title>{{title}}</title>
	</head>

	<body>
		<a href='about'>About</a> <a href='image'>Image</a>
		<h1>Hello Express!</h1>

		<p></p>

		<!-- <a href='weather'>Weather</a> -->

			{{> footer}}
	</body>

</html>